
<div class="card mt-3">
    <h1> </h1>
    <p class="lead"></p>
    <div class="card-body">
        <h3 class="card-title"><%=article.headline%></h3>
        <br>
        <h6 class="card-subtitle mb-2 text-muted"><%=article.createdAt%></h6>
        <hr/>
        <p class="card-text"><%=article.articleContent%></p>
        <hr/>
        <a class="btn btn-info" href="/articles/edit/<%=article._id%>">Edit</a>
        <a class="btn btn-danger" href="/articles/deleteConfirm/<%=article._id%>">Delete</a>
        <p class="lead mt-2"><%= article._id %></p>
    </div>
</div>

